@charset "UTF-8";
body{
	background: #050505;
	font-size:12;
	color:#CDCDCD;
}

nav.navbar-fixed-top{
	margin-bottom:120;
	background:#556666;
}
#jumb-start{
	padding-top: 100px;
	font-size:42px;
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
}
div.std-hlfscreen{
	border-left:1px #505050 solid;
	border-bottom:1px #505050 solid;
	border-radius:12px;
	box-shadow:3px 3px 6px #505050;
	min-height:55px;
}
div.std-hlfscreen:hover{
	border-left:1px #505050 solid;
	border-bottom:2px #FFFF00 solid;
	border-radius:12px;
	box-shadow:4px 4px 8px #995599;
}
button.btn{
	margin:3px;
	margin-top:5px;
}
.row{
	min-height:50px;
}
li.filled{
	background-color: #5555AA;
	border-bottom:1px dotted #75FFFF;
	border-left:1px dotted #75FFFF;
	border-radius:3px;
	box-shadow:1px 1px 2px #FABE55;
	padding-left:8px;
}




div.footer{
	min-height:35px;
	font color:#CDCDCD;
	padding:10px;
	border:1px #A9A9A9 solid;
	border-radius:18px;
	box-shadow:3px 3px 6px #454545;
	margin:25px;
	padding-left:120px;
}

