@charset "UTF-8";
body{
	background: #050505;
	font-size:12;
	color:#CDCDCD;
}

nav.navbar-fixed-top{
	margin-bottom:120;
	background:#556666;
}
#jumb-start{
	padding-top: 100px;
	font-size:42px;
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
}